<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} | Técnico Shop</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon"
        href="{{ url_for('static', filename='images/favicon.png') }}"
        type="image/x-icon"/>
    {% block head %}{% endblock %}
    {% block title %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer>
        <hr>
        Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624), Vasco Paisana (102533)
    </footer>
  </body>
</html>