<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/register.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  <title>Client Register | Técnico Shop</title>
</head>

<body>
  <div class="nav-bar">
    <p><strong>Técnico Shop</strong></p>
    <a href="index.html" class="nav-text">Go back</a>
  </div>
  <h2 class="page-title">Register Client</h2>
  <div>
    <form action="" method="post">
      <div>
        <div class="form-entry">
          <p>Name</p>
          <input type="text" placeholder="Name" id="name" name="name" maxlength="255" oninput="checkOption()" />
        </div>

        <div class="form-entry">
          <p>Email</p>
          <input type="text" placeholder="Email" id="email" name="email" maxlength="255" oninput="checkOption()" />
        </div>

        <div class="form-entry">
          <p>Address</p>
          <input type="text" placeholder="Address" id="address" name="address" maxlength="255" oninput="checkOption()" />

        </div>
        <div class="form-entry">
          <p>Phone</p>
          <input type="text" placeholder="Phone" id="phone" name="phone" maxlength="255" oninput="checkOption()" />
        </div>
      </div>
    <button> Register </button>
</body>

<footer class="footer-messages">
  <hr>
  Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624), Vasco Paisana (102533)
</footer>


</html>