<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/menu.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  <title>Client Menu | Técnico Shop</title>
</head>

<body>
  <div class="nav-bar">
    <div class="right-side-nav">
      <img src="../static/images/favicon.png" class="logo">
      <p><strong>Técnico Shop</strong></p>
      <p style="color: #596296;">Client</p>
    </div>
    <div>
        <a href="index.html" class="nav-text">Logout</a>
    </div>
  </div>
  <div style="padding:2%">

    <h1 style="color: #596296; font-size: 40px">Welcome!</h1>
    <div class="orders-header">
      <h1>LAST ORDERS</h1>
      <button class="action-button">+ NEW ORDER</button>
    </div>
    <hr class = "menu-line">
    <div>
      <!-- Here goes the info on orders -->
    </div>
  </div>

</body>

<footer class="footer-messages" style="position:fixed;">
  <hr>
  Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624), Vasco Paisana (102533)
</footer>

</html>