<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/register.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  <title>Customer Login | Técnico Shop</title>
</head>

<body>
  <div class="nav-bar">
    <div class="right-side-nav">
      <img src="../static/images/favicon.png" class="logo">
      <p><strong>Técnico Shop</strong></p>
      <p style="color: #596296;">Customer</p>
    </div>
    <a href="{{url_for('homepage')}}" class="nav-text">Go back</a>
  </div>
  <div>
    <div class="forms">
      <div class="register-form">
        <div class="title-wrapper">
          <h2 class="page-title">Login</h2>
        </div>
          <form action="" method="post">
            <div class="form">
              <div class="form-entry">
                <p>Name</p>
                <input type="text" placeholder="Name" id="name" name="name" maxlength="255"/>
              </div>

              <div class="form-entry">
                <p>Email</p>
                <input type="text" placeholder="Email" id="email" name="email" maxlength="255"/>
              </div>
              <button class="register-button">Login</button>
            </div>
            <p>Don't have an account?<a class="redirect-to-other" href="{{url_for('customer_register_get')}}">Register here</a></p>
      </div>
  </div>
</body>

<footer class="footer-messages" style="position:fixed;">
  <hr>
  Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624), Vasco Paisana (102533)
</footer>


</html>
