<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/register.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  <script src="../static/js/registercheck.js"></script>
  <title>Customer Login | Técnico Shop</title>
</head>

<body>
  <div class="nav-bar">
    <a href="{{url_for('homepage')}}" class="right-side-nav">
      <img src="../static/images/favicon.png" class="logo">
      <p><strong>Técnico Shop</strong></p>
      <p style="color: #596296;">Customer</p>
    </a>
    <a href="{{url_for('homepage')}}" class="nav-text">Go back</a>
  </div>
  <div>
    <div class="forms">
      <div class="register-form">
        <div class="title-wrapper">
          <h2 class="page-title">Login</h2>
        </div>
          <form action="" method="post" id="registration-form">
            <div class="form">
              <div class="form-entry">
                <p>Customer Number *</p>
                <input type="number" placeholder="Insert valid customer number" id="user" name="user" 
                    maxlength="255" class="mandatory" min="0" oninput="validateInput(this)"/>
              </div>
              <button class="register-button"  id="register-button">Login</button>
            </div>
            <p>Don't have an account?<a class="redirect-to-other" href="{{url_for('customer_register_get')}}">Register here</a></p>
          </form>
      </div>
  </div>
</body>

<script>
    function validateInput(input) {
        if (input.value < 0) {
          input.value = 0;
          return true;
        }
      }
</script>

<footer class="footer-messages" style="position:fixed;">
  <hr>
  Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624) and Vasco Paisana (102533) @ IST
</footer>

</html>
