<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <script src="../static/js/utils.js"></script>
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/menu.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  <title>Manager Menu | Técnico Shop</title>
</head>

<body>
  <div class="nav-bar" style="background-color: #bcc5f9e3;">
    <div class="right-side-nav">
      <img src="../static/images/favicon.png" class="logo">
      <p><strong>Técnico Shop</strong></p>
      <p style="color: #596296;">Manager</p>
    </div>
    <div>
        <a href="./" class="nav-text">Logout</a>
    </div>
  </div>
  <div class="admin-menu">
    <a href="./customers" class="menu-link-selected">Customers</a>
    <a href="./suppliers" class="menu-link">Suppliers</a>
    <a href="./products" class="menu-link">Products</a>
  </div>

  <div style="padding:2%">
    <div class="orders-header">
      <h1>CUSTOMERS IN DATABASE</h1>
    </div>
    <hr class = "menu-line">
    <div>
      {% if cursor %}
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Costumer Number</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for record in cursor %}
            <tr>
              <td>{{ record[0] }}</td>
              <td>{{ record[1] }}</td>
              <td>{{ record[2] }}</td>
              <td>{{ record[3] }}</td>
              <td>{{ record[4] }}</td>
              <td>
                <a href="./customer/remove?customer={{ record[0] }}" class="remove-text">
                  Remove
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <form id="offsetForm" action="/costumers" method="get">
          <div class="show-wrapper">
            <input type="hidden" id="offset" name="offset" value="{{ offset }}">
            {% if offset != 0 %}
            <button type="button" onclick="decrementOffset()"><strong>&#9664;</strong></button>
            {% endif %}
              <button type="button" onclick="incrementOffset()"><strong>&#9654;</strong></button>
            </div>
        </form>

      </div>
    {% else %}
        <p>There is no clients.</p>
    {% endif %}
    </div>
  </div>

</body>

<footer class="footer-messages">
  <hr>
  Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624), Vasco Paisana (102533)
</footer>

</html>
