<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <script src="../static/js/pagination.js"></script>
  <script src="../static/js/popup.js"></script>
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/menu.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />

  {% if user == "manager" %}
    <title> Manager Menu | Técnico Shop</title>
  {% else %}
    <title> Customer Order | Técnico Shop</title>
  {% endif %}

</head>

<body>
  <div class="nav-bar" style="background-color: #bcc5f9e3;">
    <a href="{{url_for('homepage')}}" class="right-side-nav">
      <img src="../static/images/favicon.png" class="logo">
      <p><strong>Técnico Shop</strong></p>
      {% if user == "manager" %}
        <p style="color: #596296;">Manager</p>
      {% else %}
        <p style="color: #596296;">Customer</p>
      {% endif %}
    </a>
    <div>
      <a href="{{url_for('homepage')}}" class="nav-text">Logout</a>
    </div>
  </div>

  {% if user == "manager" %}
    <div class="menu">
      <a href="{{url_for('customers_list', user='manager')}}" class="menu-link">Customers</a>
      <a href="{{url_for('suppliers_list', user='manager')}}" class="menu-link">Suppliers</a>
      <a href="{{url_for('products_list', user='manager')}}" class="menu-link-selected">Products</a>
    </div>
  {% endif %}

  <div style="padding:2%">
    <div class="header">
      <h1>PRODUCTS IN DATABASE</h1>
      {% if user == "manager" %}
        <a href="{{url_for('product_register_get')}}"class="nav-text"><button class="action-button">+ NEW PRODUCT</button></a>
      {% else %}
        <a href="{{ url_for('order_register', **request.args) }}" class="nav-text">
          <button class="action-button" id="make-order" disabled>FINISH ORDER</button>
        </a>
      {% endif %}
    </div>
    <hr class="menu-line">
    <div>
      {% if cursor %}
      <form id="limitForm">
        <div class="table-container">
          <table>
            <thead>
              <tr>
                {% if user == "manager" %}
                <th>SKU</th>
                {% endif %}
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                {% if user == "manager" %}
                <th>EAN</th>
                <th></th>
                {% endif %}
                {% if user != "manager" %}
                <th>Quantity</th> <!-- New column for displaying quantity -->
                {% endif %}
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for record in cursor %}
              <tr>
                {% if user == "manager" %}
                <td>
                  {{ record[0] }}
                </td>
                {% endif %}
                <td>
                  {{ record[1] }}
                </td>
                <td>
                  <p id="curr-desc-{{ record[0] }}" style="font-size: 20px;">{{ record[2] }}</p>
                </td>
                <td>
                  <p id="curr-price-{{ record[0] }}" style="font-size: 20px;">{{ record[3] }}</p>
                </td>
                {% if user == "manager" %}
                <td>{{ record[4] }}</td>
                <td>
                  <p class="edit-text" id="edit-button-{{ record[0] }}" onclick="showPopUp(event, '{{ record[0] }}')">Edit</p>
                </td>
                {% endif %}
                <td>
                  {% if user == "manager" %}
                  <a href="{{url_for('product_remove', product=record[0])}}" class="remove-text"onclick="return confirm('Are you sure you want to remove this product?')" >
                    Remove
                  </a>
                  {% else %}
                  <form id="offsetForm" action="/products" method="get">
                    <div class="price-wrapper">
                        <input type="number" name="{{record[0]}}" min="0" value="{{request.args.get(record[0], 0)}}" id="{{record[0]}}"
                          style="width:100px;"oninput="updateQty('{{record[0]}}', this);">
                    </div>
                  {% endif %}
                </td>
                {% if user != "manager" %}
                <td>
                  <p type="button" onclick="removeFromOrder('{{ record[0] }}')" style="background: none;
                    border: none;" class="remove-text">Remove</p>
                </td>
                  </form>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
      <form id="offsetForm" action="/products" method="get">
        <div class="show-wrapper">
          <input type="hidden" id="offset" name="offset" value="{{offset}}">
          {% if offset != 0 %}
          <button type="button" onclick="decrementOffset()"><strong>&#9664;</strong></button>
          {% endif %}
          {% if offset != max %}
          <button type="button" onclick="incrementOffset()"><strong>&#9654;</strong></button>
          {% endif %}
        </div>
      </form>
      {% else %}
      <p>There are no products.</p>
      {% endif %}
    </div>
  </div>

  <!-- Popup form and background -->
  <div id="popupBackground" class="popup-background">
    <div class="popup-form">
      <h2 style="margin-bottom: 10px;">Edit Product</h2>
      <form action="{{url_for('product_edit', user=user)}}" method="post" class="pop-form">
        <input type="hidden" id="popup-sku" name="popup-sku" value="">
        <div>
          <label for="popup-description">Description:</label><br>
          <textarea type="text" name="popup-description" id="popup-description" maxlength="255"
            style="min-height:120px;max-height:120px;max-width:450px;min-width:450px;font-size: 20px;padding:5px;">
          </textarea>
        </div>
        <div>
          <label for="popup-price">Price:</label><br>
          <input type="number" id="popup-price" name="popup-price" oninput="validateInput(this)"><br><br>
        </div>
        <div>
          <button type="submit">Save</button>
        </div>
      </form>
      <button onclick="hidePopUp()">Cancel</button>
    </div>
  </div>

  <footer class="footer-messages">
    <hr>
    Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624) and Vasco Paisana (102533) @ IST
  </footer>

  <script>
    function validateInput(input) {
      if (input.value <= 0) {
        input.value = 0;
        return true;
      }
    }

    function updateQty(id, input) {
      const urlParams = new URLSearchParams(window.location.search);
      if (validateInput(input)) {
        urlParams.delete(id);
      } else {
        urlParams.set(id, input.value);
      }
      window.location.search = urlParams.toString();
    }

    function removeFromOrder(id) {
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.delete(id);
      window.location.search = urlParams.toString();
    }

    function checkArguments() {
      const urlParams = new URLSearchParams(window.location.search);
      const params = [...urlParams.entries()];
      const hasArgumentWithValue = params.some(([key, value]) => key !== 'user' && parseInt(value, 10) > 0);
      const makeOrderButton = document.getElementById("make-order");

      if (hasArgumentWithValue) {
        makeOrderButton.disabled = false;
        makeOrderButton.classList.add("enabled");
      } else {
        makeOrderButton.disabled = true;
        makeOrderButton.classList.remove("enabled");
      }
    }
    checkArguments();
  </script>
</body>
</html>
