<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <script src="../static/js/pagination.js"></script>
  <script src="../static/js/popup.js"></script>
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/menu.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  <title>Manager Menu | Técnico Shop</title>
</head>

<body>
  <div class="nav-bar" style="background-color: #bcc5f9e3;">
    <div class="right-side-nav">
      <img src="../static/images/favicon.png" class="logo">
      <p><strong>Técnico Shop</strong></p>
      <p style="color: #596296;">Manager</p>
    </div>
    <div>
      <a href="{{url_for('homepage')}}" class="nav-text">Logout</a>
    </div>
  </div>
  <div class="menu">
    <a href="{{url_for('customers_list')}}" class="menu-link">Customers</a>
    <a href="{{url_for('suppliers_list')}}" class="menu-link">Suppliers</a>
    <a href="{{url_for('products_list')}}" class="menu-link-selected">Products</a>
  </div>

  <div style="padding:2%">
    <div class="header">
      <h1>PRODUCTS IN DATABASE</h1>
      <a href="{{url_for('product_register_get')}}"class="nav-text"><button class="action-button">+ NEW PRODUCT</button></a>
    </div>
    <hr class="menu-line">
    <div>
      {% if cursor %}
      <form id="limitForm">
      <div class="table-container">
        <form method="POST" action="/product/edit">
        <table>
          <thead>
            <tr>
              <th>SKU</th>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>EAN</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for record in cursor %}
            <tr>
                <td>
                  {{ record[0] }}
                  <input type="hidden" name="product_id" value="{{ record[0] }}">
                </td>
                <td>
                  <div id="curr-name">
                    {{ record[1] }}
                  </div>
                    <input type="text" name="name" id="name" value="{{ record[1] }}">
                </td>
                <td>
                  <div id="curr-desc">
                    {{ record[2] }}
                  </div>
                    <input type="text" name="description" id="description" value="{{ record[2] }}">
                </td>
                <td>
                  <div id="curr-price">
                    {{ record[3] }}
                  </div>
                  <input type="text" name="price" id="price" value="{{ record[3] }}">
                </td>
                <td>{{ record[4] }}</td>
                <td>
                  <p type="submit" class="edit-text" id="finish-button">Finish</p>
                  <p class="edit-text" id="edit-button" onclick=showPopUp(event)>Edit</p>
                </td>
                <td>
                  <a href="./product/remove?product={{ record[0] }}" class="remove-text">
                    Remove
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>

        <form id="offsetForm" action="/products" method="get">
          <div class="show-wrapper">
            <input type="hidden" id="offset" name="offset" value="{{offset}}">
            {% if offset != 0 %}
            <button type="button" onclick="decrementOffset()"><strong>&#9664;</strong></button>
            {% endif %}
              <button type="button" onclick="incrementOffset()"><strong>&#9654;</strong></button>
            </div>
        </form>

      </div>
      {% else %}
      <p>There are no products.</p>
      {% endif %}
    </div>
  </div>

  <footer class="footer-messages">
    <hr>
    Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624) and Vasco Paisana (102533) @ IST
  </footer>
</body>

</html>
