<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/messages.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  <title>Success | Técnico Shop</title>
</head>

<body>
  <div class="message-wrap">
    <img src="../static/images/success_image.png" alt="" class="message-img">
    <h1 class="message">The action was performed!</h1>
    <p class="interactive-text"> <- Go back</p>
  </div>
  <footer class="footer-messages">
    <hr>
    Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624), Vasco Paisana (102533)
  </footer>
</body>
</html>
