<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <script src="../static/js/pagination.js"></script>
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/menu.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  <title>Manager Menu | Técnico Shop</title>
</head>

<body>
  <div class="nav-bar" style="background-color: #bcc5f9e3;">
    <a href="{{url_for('homepage')}}" class="right-side-nav">
      <img src="../static/images/favicon.png" class="logo">
      <p><strong>Técnico Shop</strong></p>
      <p style="color: #596296;">Manager</p>
    </a>
    <div>
        <a href="{{url_for('homepage')}}" class="nav-text">Logout</a>
    </div>
    </div>
  </div>
  <div class="menu">
    <a href="{{url_for('customers_list')}}" class="menu-link">Customers</a>
    <a href="{{url_for('suppliers_list')}}" class="menu-link-selected">Suppliers</a>
    <a href="{{url_for('products_list')}}" class="menu-link">Products</a>
  </div>

  <div style="padding:2%">
    <div class="header">
      <h1>SUPPLIERS IN DATABASE</h1>
      <a href="{{url_for('supplier_register_get')}}"class="nav-text"><button class="action-button">+ NEW SUPPLIER</button></a>
    </div>
    <hr class = "menu-line">
    <div>
        {% if cursor %}
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>TIN</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>SKU</th>
                  <th>Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for record in cursor %}
                  <tr>
                    <td>{{record[0]}}</td>
                    <td>{{record[1]}}</td>
                    <td>{{record[2]}}</td>
                    <td>{{record[3]}}</td>
                    <td>{{record[4]}}</td>
                    <td>
                      <a href="./supplier/remove?supplier={{record[0]}}" class="remove-text">
                        Remove
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <form id="offsetForm" action="/suppliers" method="get">
              <div class="show-wrapper">
                <input type="hidden" id="offset" name="offset" value="{{offset}}">
                {% if offset != 0 %}
                <button type="button" onclick="decrementOffset()"><strong>&#9664;</strong></button>
                {% endif %}
                  <button type="button" onclick="incrementOffset()"><strong>&#9654;</strong></button>
                </div>
            </form>

          </div>
        {% else %}
            <p>There are no suppliers.</p>
        {% endif %}
    </div>
  </div>

</body>

<footer class="footer-messages">
  <hr>
  Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624) and Vasco Paisana (102533) @ IST
</footer>

</html>
