<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/register.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  <script src="../static/js/registercheck.js"></script>
  <title>Customer Register | Técnico Shop</title>
</head>

<body>
  <div class="nav-bar">
    <div class="right-side-nav">
      <img src="../static/images/favicon.png" class="logo">
      <p><strong>Técnico Shop</strong></p>
      <p style="color: #596296;">Manager</p>
    </div>
    <a href="{{url_for('suppliers_list', user='manager')}}" class="nav-text">Go back</a>
  </div>
  <div>
    <div class="forms">
      <div class="register-form">
        <div class="title-wrapper">
          <h2 class="page-title">Register</h2>
        </div>
          <form action="" method="post" id="registration-form">
            <div class="form">
              <div class="form-entry">
                <p>SKU *</p>
                <input type="text" placeholder="SKU" id="sku" name="sku" maxlength="255" class="mandatory"/>
              </div>

              <div class="form-entry">
                <p>TIN *</p>
                <input type="text" placeholder="TIN" id="tin" name="tin" maxlength="255" class="mandatory"/>
              </div>

              <div class="form-entry">
                <p>Name</p>
                <input type="text" placeholder="Name" id="name" name="name" maxlength="255"/>
              </div>


              <div class="form-entry">
                <p>Address</p>
                <input type="text" placeholder="Address" id="address" name="address" maxlength="255"/>
              </div>


              <div class="form-entry">
                <p>Date *</p>
                <input type="text" placeholder="YYYY-MM-DD" id="date" name="date" maxlength="255"  class="mandatory"/>
              </div>

              <button class="register-button" id="register-button"> Register </button>
            </div>
      </div>
  </div>
</body>

<footer class="footer-messages">
  <hr>
  Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624) and Vasco Paisana (102533) @ IST
</footer>

</html>
