.nav-bar {
  background-color: #bcc5f9e3;
  border: solid;
  border-color: #bcc5f9e3;
  border-bottom-color: #bcc5f9e3;
  border-width: 1px;
  position: fixed;
}

.nav-text {
  display: flex;
  gap: 10px;
}

.gif {
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gif,
.client-view,
.admin-view {
  display: flex;
  padding: 5%;
  justify-content: space-between;
}


.gif-image {
  border-radius: 100%;
  padding: 30px;
  width: 50%;
  height: auto;
}

.about-project {
  padding: 5%;
  color: white;
}

.client-view {
  background-color: #596296;
  color: white
}

.admin-view {
  color: #596296;
}

.about-project {
  background-color: #e7f9fe;
  color: #596296;
}

.client-button {
  background-color: white;
  color: #596296;
}

.admin-button {
  color: white;
  background-color: #596296;
}
