.nav-bar {
  border-bottom: solid;
  border-bottom-color: #596296;
  border-bottom-width: 0.1px;
}

.menu {
  display: flex;
  background-color: #596296;
  height: 70px;
  padding: 20px;
  align-items: center;
}

.menu-link {
  color: #bcc5f9e3;
}

.menu-link-selected {
  color: white;
  text-decoration: underline;
}

.total-price-wrapper,
.header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #596296;
  margin-bottom: 10px;
}

.action-button {
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  background-color: #596296;
  color: white;
  margin: 0px;
}

.menu-line {
  border-color: #596296;
  width: 100%;
  border-width: 2px;
}

.edit-text,
.remove-text {
  text-decoration: underline;
  color: #596296;
  transition: opacity 0.2ms;
  cursor: pointer;
  font-size: 18px;
  float: right;
}

.edit-text:hover,
.remove-text:hover {
  opacity: 70%;
}

.edit-text:active,
.remove-text:active {
  opacity: 100%;
}

#curr-name,
#curr-desc,
#curr-price,
#edit-button {
  display: block;
}

#name,
#description,
#price,
#curr-name,
#curr-desc,
#curr-price {
  font-size: 20px;
  text-align: left;
}

#name,
#description,
#price,
#finish-button {
  display: none;
}

#name,
#description,
#price {
  border-width: 0.1px;
}

.show-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.show-wrapper button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #596296;
  width: 80px;
  background-color: white;
}

.details-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.details-image {
  width: 300px;
  height: auto;
}