body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e7f9fe;
}

.message-wrap {
  position: absolute;
  width: 600px;
  height: 450px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid;
  border-color: grey;
  border-width: 2px;
  padding: 20px;
  text-align: center;
}
  
.message-img {
  height: 150px;
  width: 150px;
}

.message {
  font-size: 1em;
  text-align: center;
  margin-bottom: 10px;
}

.interactive-text {
  margin-top: 10px;
  cursor: pointer;
  color: grey;
  transition: color 0.2s;
  transition: opacity 0.2s;
}

.footer-messages {
  position: fixed;
}

.go-back-button {
  background-color: #596296;
  width: auto;
  height: auto;
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
}