@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

* {
  font-size: 30px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(156, 230, 254);
}

footer {
  position:fixed;
  bottom:0px;
  height:50px;
  width:100%;
  font-size: 15px;
  text-align: center;
}

hr {
  width: 750px;
  margin: auto;
  color: black;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
  transition: opacity 0.15s;
}

.message-wrap {
  position: absolute;
  width: 600px;
  height: 400px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid;
  border-color: grey;
  border-width: 2px;
}

.message-img {
  height: 200px;
  width: 200px;
}

.message {
  font-size: 1em;
  text-align: center;
  margin-bottom: 25px;
}

.interactive-text {
  cursor: pointer;
  color: grey;
  transition: color 0.2s;
}

.interactive-text:hover {
  color: blue;
}

.interactive-text:active {
  color: darkblue;
}