<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <script src="../static/js/pagination.js"></script>
  <link rel="stylesheet" href="../static/css/general.css" />
  <link rel="stylesheet" href="../static/css/menu.css" />
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
  <title>Customer Menu | Técnico Shop</title>
</head>

<body>
  <div class="nav-bar" style="background-color: #bcc5f9e3;">
    <a href="{{url_for('homepage')}}" class="right-side-nav">
      <img src="../static/images/favicon.png" class="logo">
      <p><strong>Técnico Shop</strong></p>
      <p style="color: #596296;">Customer</p>
    </a>
    <div>
      <a href="{{url_for('homepage')}}" class="nav-text">Logout</a>
    </div>
  </div>
  <div class="menu">
    {% if payed %}
    <a href="{{url_for('orders_list', user=user)}}" class="menu-link">Pending Orders</a>
    <a href="{{url_for('orders_list', user=user, payed=true)}}" class="menu-link-selected">Payed Orders</a>
    {% else %}
    <a href="{{url_for('orders_list', user=user)}}" class="menu-link-selected">Pending Orders</a>
    <a href="{{url_for('orders_list', user=user, payed=true)}}" class="menu-link">Payed Orders</a>
    {% endif %}
  </div>

  <div style="padding:2%">
    <h1 style="color: #596296; font-size: 40px">Welcome!</h1>
    <div class="header">
      {% if payed %}
      <h1>YOUR PAYED ORDERS</h1>
      {% else %}
      <h1>YOUR PENDING ORDERS</h1>
      {% endif %}
      <a href="{{url_for('products_list', user=user)}}" class="nav-text"><button class="action-button">+ PLACE
          ORDER</button></a>
    </div>
    <hr class="menu-line">
    <div>
      {% if cursor.rowcount %}
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Order Number</th>
              <th>Date</th>
              <th>Total Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for record in cursor %}
            <tr>
              <td>{{record[0]}}</td>
              <td>{{record[1]}}</td>
              <td>{{record[2]}} &euro;</td>
              {% if payed %}
              <td>
                <a style="font-size: 20px;"
                  href="{{url_for('order_details_get', user=user, order=record[0], payed=True)}}"
                  class="remove-text">See Details</a>
              </td>
              {% else %}
              <td>
                <a style="font-size: 20px;" href="{{url_for('order_details_get', user=user, order=record[0])}}"
                  class="remove-text">Check Out</a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <form id="offsetForm" action="/products" method="get">
          <div class="show-wrapper">
            <input type="hidden" id="offset" name="offset" value="{{offset}}">
            {% if offset != 0 %}
            <button type="button" onclick="decrementOffset()"><strong>&#9664;</strong></button>
            {% endif %}
            {% if offset != max %}
            <button type="button" onclick="incrementOffset()"><strong>&#9654;</strong></button>
            {% endif %}
          </div>
        </form>
      </div>
      {% else %}
      <p>There are no orders.</p>
      {% endif %}
    </div>
  </div>
</body>

<footer class="footer-messages">
  <hr>
  Made by Gonçalo Bárias (103134), Raquel Braunschweig (102624) and Vasco Paisana (102533) @ IST
</footer>

</html>